local/*
*.o
*.log
*.carbonite
packages/net.cdaniels.toolchest.testing/helloworld/helloworld
packages/net.cdaniels.toolchest.ports/m-cli/bin/*
packages/net.cdaniels.toolchest.ports/iproute2mac/bin/*
packages/net.cdaniels.toolchest.ports/tcc/bin/*
bin/realpath
packages/youtube-dl/l/bin/*
packages/pamixer/bin/*
packages/net.cdaniels.toolchest.ports/sublime-text-3-linux/bin/*
bin/md5
packages/zsh-*/lib/*
packages/net.cdaniels.toolchest.ports/todo.txt/bin/*
packages/net.cdaniels.toolchest.ports/mars4/lib/*
packages/net.cdaniels.toolchest.ports/mars4/*.jar
packages/posixcube/bin/*
packages/net.cdaniels.toolchest.ports/pv/bin
packages/net.cdaniels.toolchest.ports/pv/remote
packages/net.cdaniels.toolchest.ports/cmatrix/bin