local/*
*.o
*.log
*.carbonite
packages/helloworld/helloworld
packages/m-cli/bin/*
packages/iproute2mac/bin/*
packages/tcc/bin/*
bin/realpath
packages/youtube-dl/bin/*
packages/pamixer/bin/*
packages/sublime-text-3-linux/bin/*
bin/md5
packages/zsh-*/lib/*
packages/todo.txt/bin/*
packages/mars4/lib/*
packages/mars4/*.jar